@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

$font-body: Helvetica, sans-serif;
$font-logo: "Aguafina Script";

$color-primary: #B14548;
$color-secondary: #46F5E9;
$color-black: #1A1B1E;
$color-white: #F5F5F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}

html body {
    background-color: $color-black;
}

.nav {
    color: $color-white;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    font-size: 20px;

    &__logo {
        padding-left: 10px;
        padding-right: 30px;
        margin-left: 20px;
        font-size: 40px;
        background-color: $color-black;
        border-radius: 100px;
        font-family: $font-logo;
    }

    &__links {
        background-color: $color-black;
        padding: 10px;
        margin-right: 20px;
        border-radius: 20px;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        padding: 40px;
    }
}

.welcome {
    display: flex;
    justify-content: flex-end;
    padding: 100px 50px;
    padding-bottom: 300px;
    
    &__card {
        background-color: $color-secondary;
        color: $color-black;
        width: 66%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 350px;
        font-size: 30px;
        text-align: right;
    }

    &__copy {
        width: 50%;
        margin-right: 50px;
    }
}

.bio {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    margin: 0 30vh;
    padding: 50px 0;
    

    &__card {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    &__image {
        margin: 10px;
        max-height: auto;
        max-width: auto;
        border-radius: 30px;
        box-shadow: 5px 5px 5px 5px $color-black;
    }

    &__copy {
        color: $color-white;
        text-align: center;
        padding: 30px;
        margin-top: 20px;
        font-size: 30px;
    }
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        background-color: $color-secondary;
        width: 400px;
        height: 80px;
        font-size: 60px;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    &__project {
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
        border: 10px solid $color-black;
        font-size: 30px;
    }

    &__image {
        background-color: $color-white;
        height: 400px;
        margin-bottom: 10px;
    }
}