.projectCard {
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: 40px;

    .projectName {
        font-size: 40px;
        text-align: center;
        margin: 10px;
    }

    .linkIcons {
        display: flex;
        justify-content: space-around;
        font-size: 50px;
        margin: 10px;
    }
}
