.footer {
    background-color: black;

    .linkIcons {
        color: white;
        font-size: 70px;
        display: flex;
        justify-content: space-around;
        padding: 20px;

        a { color: inherit; } 
        
        a:hover {
            color:#00A0C6; 
            text-decoration:none; 
            cursor:pointer;  
        }
    }
}